button {
	border: none;
}

.card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 5px solid rgba(0, 0, 0, 0.3);
	border-radius: 14px;
	transition: all 0.1s ease;
	cursor: pointer;
}

.card-container:hover {
	filter: brightness(1.15);
}

.card-container:active {
	transform: translateY(2px);
	border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

.dark {
	background-color: #166b4d;
}

.light {
	background-color: #1f8f68;
}

.card-container img {
	transform: scale(1.5);
}
